## Задание #2 
## Соискатель: Колесников Егор

In [1]:
from sqlalchemy import create_engine
import pandas as pd


URL = "rc1c-fhrb9f1e0l9g611h.mdb.yandexcloud.net"
PORT = "6432"
USER = "analytics"
PW = "HRanalytics"
DB = "hr-analytics"

In [2]:
DB_URL = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=USER, 
                                                                                  password=PW, 
                                                                                  ipaddress=URL, 
                                                                                  port=PORT, 
                                                                                  dbname=DB))

cnx = create_engine(DB_URL)

In [20]:
query = 'SELECT * FROM orders'
pd.read_sql_query(query, cnx)

,id,user_id,total_cost,cost,item_total,promo_total,total_weight,total_quantity,state,shipped_at,created_at,ship_address_id,store_id,delivery_window_id
0,3158715,61138,290.0,290.0,2543,0.0,89906,35,shipped,2018-01-05 10:50:00,2018-01-05 00:07:04,448086,2,75258.0
1,3182881,73307,190.0,190.0,6076,0.0,30275,52,shipped,2018-01-06 15:33:54,2018-01-05 02:04:42,450946,10,75860.0
2,3146329,75386,290.0,290.0,2617,0.0,93040,24,shipped,2018-01-11 06:40:38,2018-01-05 02:07:35,458911,14,78635.0
3,3150465,45970,290.0,290.0,3422,0.0,10518,23,shipped,2018-01-06 12:55:22,2018-01-05 02:15:15,448101,21,75403.0
4,3169087,49089,90.0,90.0,3666,0.0,22740,31,shipped,2018-01-06 16:17:27,2018-01-05 02:48:52,451302,3,75825.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334240,5512572,682248,98.0,249.0,4066,0.0,20405,26,shipped,2019-08-04 20:51:49,2019-08-04 16:51:25,2669084,11,637148.0
334241,5512004,527223,1.0,1.0,20286,0.0,30260,41,shipped,2019-08-04 20:44:14,2019-08-04 17:19:21,2668522,12,637201.0
334242,5512605,681372,98.0,249.0,1343,-399.0,6898,14,shipped,2019-08-04 20:30:52,2019-08-04 17:28:31,2669120,3,637047.0
334243,5316955,165630,449.0,449.0,2468,0.0,55524,49,shipped,2019-08-04 20:48:24,2019-08-04 17:36:08,2467589,3,637047.0
334244,5513202,682383,0.0,21.0,10039,0.0,30215,40,shipped,2019-08-04 21:38:00,2019-08-04 17:39:12,2669705,12,637201.0

In [22]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]